/** {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
	margin:0px;
	padding: 0px;}

body {
  font-family: "Open Sans Condensed", sans-serif;
  padding: 0;
  background: #f3f3f3;
  margin: 0;
  overflow-x: hidden; }

header .financiero{
	float: left;
	margin-top: 15px;
}
header .ara{
	float: right;
}
.viewport{
	padding: 10px 0px;
	background: #3cf;
}
.viewport header{
	width: 580px;
	margin: 0 auto;
}
.call-action{
	background: #f3f3f3;
	margin-bottom: 10px;
	padding: 10px 0px;
}
.call-action p{
	float: left;
	text-transform: uppercase;
	font-size: 1.1em;
	color: #666666;
	padding: 5px;
	width: 398px;
	padding: 7px;
}
.call-action a{
	width: 161px;
text-transform: uppercase;
float: left;
background: url("assets/call.png") no-repeat;
color: white;
margin-top: 5px;
font-size: 14px;
padding: 13px 20px;
text-decoration: none;
height: 66px;
text-align: center;
}
.call-action a:hover{
	opacity: 0.8;
}
.call-action:after,header:after{
	content: "";
  display: block;
  height: 0;
  width: 100%;
  clear: both;
}
.content{
	width: 860px;
	margin: 0 auto;
}
.content .inside{
	width: 560px;
	margin:0 auto;
}
.form{
	background: white;
	padding: 10px;
	margin: 0px auto ;
	width: 580px;
}
.instructions{

	margin-top: 15px;
	margin-bottom: 15px;
	color: #999;
	font-size: 1.1em;
}*/